    body {
        font-family: Arial, sans-serif;
        text-align: center;
        margin: 0;
        padding: 0;
        background: linear-gradient(to bottom right, #e61313, #aa3217, #cc6e59, #ac9326, #f5f101);
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    #container {
        background: linear-gradient(to bottom right, #e61313, #aa3217, #cc6e59, #ac9326, #f5f101);
        padding: 20px;
        border-radius: 10px;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.2);
    }

    input[type="number"] {
        width: 100px;
        padding: 5px;
    }

    button {
        padding: 5px 10px;
        background-color: #fff;
        color: #007BFF;
        border: none;
        cursor: pointer;
        margin: 5px;
    }

    #result {
        margin-top: 20px;
        color: #fff; 
    }